<input 
	type='text'
	value={{userValue}}
	oninput={{action 'change' value='target.value'}}
	class="{{if invalid 'invalid-input'}}"/>

<textarea 
	value={{userValue}}
	oninput={{action 'change' value='target.value'}}
	class="{{if invalid 'invalid-input'}}">HI</textarea>

<textarea 
	value={{userValue}}
	oninput={{action (action 'change') value='target.value'}}
	class="{{if invalid 'invalid-input'}}">HI</textarea>

<div onclick={{action "clickMe"}}></div>