<div id="main-container">
  {{liquid-outlet}}
</div>
<button {{action "toggle" "showA"}}>
  Toggle A/B</button>
<button {{action "toggle" "showOne"}}>
  Toggle One/Two
</button>
{{#liquid-if showOne class="nested-explode-transition-scenario"}}
  <div class="child">
    {{#liquid-if showA use="toLeft"}}
      <div class="child-one-a">One: A</div>
    {{else}}
      <div class="child-one-b">One: B</div>
    {{/liquid-if}}
  </div>
{{else}}
  <div class="child child-two">
    Two
  </div>
{{/liquid-if}}
{{moment '12-25-1995' 'MM-DD-YYYY'}}
{{moment-from '1995-12-25' '2995-12-25' hideAffix=true}}
{{some-component foo=true}}
{{some-helper1 foo=true}}
{{some-helper2 foo=true}}